# LLM
DASHSCOPE_API_KEY
DASHSCOPE_BASE_URL

# LangSmith
LANGSMITH_TRACING_V2
LANGSMITH_ENDPOINT
LANGSMITH_API_KEY
LANGSMITH_PROJECT

# Qdrant
QDRANT_CLOUD_CLUSTER_URL
QDRANT_CLOUD_CLUSTER_API_KEY

# Local Postgre
POSTGRE_PORT
POSTGRES_PASSWORD